node_modules
.git
temp/
backend_js/temp_consume/
consumed_files/
consume_files/
docker/meili_data/
*.log
*.traineddata
*.pdf
*.png
*.jpg
*.jpeg
*.webp
*.zip
/backend_js/banner_imgs
*.pem
.DS_Store
*.cpuprofile
*.txt
.DS_Store
/docker