node_modules
.git
temp/
backend_js/temp_consume/
consumed_files/
consume_files/
docker/meili_data/
*.log
*.traineddata
*.pdf
*.png
*.jpg
*.jpeg
*.webp
*.zip
/backend_js/banner_imgs
*.pem
*.DS_Store
*.cpuprofile
*.txt
/docker
docker
*.log
*.ms
*.dump


*.ms
data.ms/
meili_data/

pgdata/
postgres_data/
**/pg_wal/
**/base/
**/global/
*.wal
pg_wal/
pg_wal
check.sh
