# deps
node_modules/
.env
testingFiles
*.traineddata
temp/
consume_files/
consumed_files/
*.ini
*.log
*.traineddata
*.pdf
*.png
*.jpg
*.jpeg
*.webp
*.zip
/backend/banner_imgs
/docker/meili_data
*.pem
.DS_Store
*.cpuprofile
*.txt
.DS_Store
/docker/meili_data
/docker/rabbit*
/docker/seaweed*