# deps
node_modules
.env
testingFiles
*.traineddata
temp/
consume_files/
consumed_files/
*.ini
*.log
*.traineddata
*.pdf
*.png
*.jpg
*.jpeg
*.webp
*.zip
/backend/banner_imgs
/docker/meili_data
*.pem
.DS_Store
*.cpuprofile
*.txt
.DS_Store
docker/meili_data
/docker/meili_data
/docker/rabbit*
/docker/seaweed*
/docker/volume*
*.log
.DS_Store
dec.ts
*.html
prek.toml
.git

*.ms
data.ms/
meili_data/

pgdata/
postgres_data/
**/pg_wal/
**/base/
**/global/
*.wal
pg_wal/
pg_wal
check.sh
test_documents
