SERVER_IP=replaceThis
DEFAULT_USERNAME=replaceThis
DEFAULT_PASSWORD=replaceThis

# Database
POSTGRES_USER=replaceThis
POSTGRES_PASSWORD=replaceThis
# RabbitMQ
RABBITMQ_USER=xxxx
RABBITMQ_PASS=xxxx

# Keys
MEILI_MASTER_KEY=replaceThis
CLUSTER_WORKER_SECRET=replaceThis
DOZZLE_PASSWORD=replaceThis
SERVER_IDENT_HEX_STRING=replaceThis

# Paths
CONSUME_PATH=/tmp/rain-dms/consume
CONSUMED_PATH=/tmp/rain-dms/consumed
TEMP_PATH=/tmp/rain-dms/temp
CA_CERT_PATH=/etc/nginx/certs/rootCA.pem

# S3
ACCESS_KEY_S3=rain-dms
SECRET_KEY_S3=rain-dms